$blue01:#0010F7;
$blue02:#0063F7;
$blue03:#55B1F3;
$blue04:#EBFAFA;
$violet01:#C903FF;
$violet02:#E26BF5;
$violet03:#F7C2FF;
$violet04:#FDEFFC;
$red01:#FF0022;
$red02:#FF455E;
$red03:#FF8B9A;
$red04:#FFE7EA;
$green01:#00F7BF;
$green02:#98FFE0;
$green03:#EAFFF8;
$yellow01:#FF0022;
$yellow02:#FF455E;
$yellow03:#FF8B9A;
$yellow04:#FFE7EA;
$light-blue01:#1BE7FF;
$light-blue02:#59EDFF;
$light-blue03:#97F4FF;
$light-blue04:#EAFCFF;
$black:#111314;
$grey01:#2D3436;
$grey02:#636E72;
$grey03:#B2BEC3;
$grey04:#DFE6E9;
$grey05:#F0F3F5;
$grey06:#F7FAFC;
$white:#FFFFFF;