@import '../../styles/styles.scss';

.text{
  
  color:$blue01;
  font-size: $fontSize-body01;
  line-height:$lineHeight-body01;
}
.p1{
  font-weight: $fontWeight-regular;
 
}
.p2{
  font-weight: $fontWeight-extraLight;
}