// Font Weight
$fontWeight-bold:700;
$fontWeight-semiBold:600;
$fontWeight-medium:500;
$fontWeight-regular:400;
$fontWeight-light:300;
$fontWeight-extraLight:200;
// Font size
$fontSize-heading01:2.625rem;//42px;
$fontSize-heading02:1.75rem;//28px;
$fontSize-heading03:1.5rem;//24px;
$fontSize-heading04:1.25rem;//20px;
$fontSize-heading05:1rem;//16px
$fontSize-caption:0.75rem;//12px;
$fontSize-body01:0.875rem;//14px;
$fontSize-body02:0.625rem;//10px;
// Font Line height
$lineHeight-heading01:48px;
$lineHeight-heading02:2.625;//42px;
$lineHeight-heading03:1.75;//28px;
$lineHeight-heading04:1.5;//24px;
$lineHeight-body01:1.375;//22px;
$lineHeight-body02:1;//16px;
$lineHeight-body03:0.875;//14px;
$lineHeight-body04:0.75;//12px;
//Font Family
$font-family: 'Manrope', sans-serif;
