@import '../../../styles/styles.scss';

.button{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;
border-radius: 8px;
border:none;
color:$white; 
}

// theme
.primary{
  background: $blue01;
  &:hover{
    background: $blue02;
  }
}

.secondary{
background:$green01;
&:hover{
  background:$green02;
}
}

.alternate{
  background:$red01;
  &:hover{
    background:$red02;
  }
}